@page
@model ladvik.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/site.css" />
<h1>Welcome to Ladvik</h1>
<p>This is a sample .NET 8 Razor Pages web application built for the DevOps assessment.</p>

<script src="~/js/site.js"></script>
